/* ========================================================================================== */
/*  Project: Studio - Web
/*  Author: Digital Business
/*  Date: Wed Aug 18 2021 17:07:22 GMT+0000 (Coordinated Universal Time)
/*  
/*  Copyright © 2021 Red Hat, Inc.
/*  https://www.redhat.com
/* ========================================================================================== */

.clh-nav-shelf,
.clh-nav-shelf-screen,
.clh-nav-top {
  position: fixed;
  width: 100%;
}
@font-face {
  font-family: "Overpass Mono";
  font-weight: 300;
  font-style: normal;
  src: url(http://www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-light.eot);
  src: url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-light.eot?#iefix)
      format("embedded-opentype"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-light.woff2)
      format("woff2"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-light.woff)
      format("woff"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-light.ttf)
      format("truetype");
}
@font-face {
  font-family: "Overpass Mono";
  font-weight: 400;
  font-style: normal;
  src: url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-regular.eot);
  src: url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-regular.eot?#iefix)
      format("embedded-opentype"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-regular.woff2)
      format("woff2"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-regular.woff)
      format("woff"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-regular.ttf)
      format("truetype");
}
@font-face {
  font-family: "Overpass Mono";
  font-weight: 500;
  font-style: normal;
  src: url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-semibold.eot);
  src: url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-semibold.eot?#iefix)
      format("embedded-opentype"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-semibold.woff2)
      format("woff2"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-semibold.woff)
      format("woff"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-semibold.ttf)
      format("truetype");
}
@font-face {
  font-family: "Overpass Mono";
  font-weight: 600;
  font-style: normal;
  src: url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-bold.eot);
  src: url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-bold.eot?#iefix)
      format("embedded-opentype"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-bold.woff2)
      format("woff2"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-bold.woff)
      format("woff"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-bold.ttf)
      format("truetype");
}
@-webkit-keyframes cursorBlink {
  0%,
  50% {
    opacity: 0;
  }
  100%,
  51% {
    opacity: 1;
  }
}
@keyframes cursorBlink {
  0%,
  50% {
    opacity: 0;
  }
  100%,
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes expandIt {
  100% {
    width: 275px;
  }
}
@keyframes expandIt {
  100% {
    width: 275px;
  }
}
@-webkit-keyframes shrinkDown {
  100% {
    width: 75px;
    height: 75px;
    opacity: 1;
  }
}
@keyframes shrinkDown {
  100% {
    width: 75px;
    height: 75px;
    opacity: 1;
  }
}
@-webkit-keyframes shrinkDownSmall {
  100% {
    width: 74px;
    height: 74px;
    opacity: 1;
  }
}
@keyframes shrinkDownSmall {
  100% {
    width: 74px;
    height: 74px;
    opacity: 1;
  }
}
@-webkit-keyframes shrinkDownLarge {
  100% {
    width: 96px;
    height: 96px;
    opacity: 1;
  }
}
@keyframes shrinkDownLarge {
  100% {
    width: 96px;
    height: 96px;
    opacity: 1;
  }
}
@-webkit-keyframes slideIt {
  100% {
    margin-left: 0;
  }
}
@keyframes slideIt {
  100% {
    margin-left: 0;
  }
}
.clh-nav-top {
  background: #000;
  z-index: var(--pfe-theme--zindex--navigation, 103);
}
.clh-nav-toggle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.clh-nav-toggle-wrapper .btn-toggle {
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 5px;
  margin-bottom: 0;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  right: 0;
}
.clh-nav-toggle-wrapper .btn-toggle .menu-bar {
  width: 30px;
  height: 3px;
  background: #fff;
  display: block;
  margin: 8px 6px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border-radius: 3px;
}
.clh-nav-toggle-wrapper .btn-toggle.active .menu-bar {
  margin: 5px 6px;
}
.clh-nav-toggle-wrapper .btn-toggle.active .menu-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(6px, 5px);
  transform: rotate(45deg) translate(6px, 5px);
}
.clh-nav-toggle-wrapper .btn-toggle.active .menu-bar:nth-child(2) {
  opacity: 0;
}
.clh-nav-toggle-wrapper .btn-toggle.active .menu-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(6px, -5px);
  transform: rotate(-45deg) translate(6px, -5px);
}
.clh-nav-toggle-wrapper .btn-toggle:focus {
  outline: dotted 1px;
  outline-offset: 2px;
}
.clh-nav-shelf {
  top: 86px;
  bottom: 0;
  right: -100%;
  z-index: var(--pfe-theme--zindex--modal, 1001);
  background-color: #222;
  color: #fff;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.clh-nav-shelf.shelf-open {
  right: 0;
}
.clh-nav-shelf a:not(.btn),
.clh-nav-shelf button {
  color: #fff;
  font-family: "Overpass Mono", RedHatText, "Red Hat Text", Overpass, Overpass,
    "Helvetica Neue", Arial, sans-serif;
}
.clh-nav-shelf .nav-container {
  height: 100%;
  overflow-y: scroll;
}
.clh-nav-shelf .nav-group-wrapper {
  background-size: cover;
  background-position: right 100px;
  background-repeat: no-repeat;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.clh-nav-shelf .accordion-panel.collapsing.showing,
.clh-nav-shelf .accordion-panel.show,
.clh-nav-shelf .accordion-toggle,
.clh-nav-shelf .accordion-toggle.collapsed {
  background: 0 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.clh-nav-shelf .accordion-toggle {
  font-weight: 700;
}
.clh-nav-shelf .accordion-toggle.collapsed {
  font-weight: 400;
}
.clh-nav-shelf .accordion-toggle:focus {
  text-decoration: none;
}
.clh-nav-shelf .accordion-panel.collapsing,
.clh-nav-shelf .accordion-toggle:hover {
  border: none;
}
.clh-nav-shelf-screen {
  top: 0;
  height: 100%;
  z-index: var(--pfe-theme--zindex--overlay, 97);
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.4s cubic-bezier(0.5, 0, 0.5, 1);
  transition: opacity 0.4s cubic-bezier(0.5, 0, 0.5, 1);
}
.clh-nav-shelf-screen.shelf-open {
  opacity: 1;
  pointer-events: initial;
}
.clh-nav-shelf .language-switcher {
  width: 435px;
}
.clh-nav-shelf .language-active {
  background-color: #4d4d4d;
}
.clh-nav-shelf .language-inactive {
  background-color: #313131;
}
.text-blue {
  color: #0499c5;
}
.text-blue-dark {
  color: #175382;
}
.text-green {
  color: #82c299;
}
.text-green-dark {
  color: #4e636d;
}
.text-purple {
  color: #5e40be;
}
.clh-episodes .tab-content a.text-purple-dark:hover,
.text-purple-dark {
  color: #342368;
}
.text-purple-darker {
  color: #261a4c;
}
.text-teal {
  color: #42adaf;
}
.text-teal-dark {
  color: #325d79;
}
.bg-blue {
  background-color: #0499c5 !important;
}
a.bg-blue:focus,
a.bg-blue:hover,
button.bg-blue:focus,
button.bg-blue:hover {
  background-color: #037293 !important;
}
.bg-blue-dark {
  background-color: #175382 !important;
}
a.bg-blue-dark:focus,
a.bg-blue-dark:hover,
button.bg-blue-dark:focus,
button.bg-blue-dark:hover {
  background-color: #0f3757 !important;
}
.bg-green {
  background-color: #82c299 !important;
}
a.bg-green:focus,
a.bg-green:hover,
button.bg-green:focus,
button.bg-green:hover {
  background-color: #60b17d !important;
}
.bg-green-dark {
  background-color: #4e636d !important;
}
a.bg-green-dark:focus,
a.bg-green-dark:hover,
button.bg-green-dark:focus,
button.bg-green-dark:hover {
  background-color: #39484f !important;
}
.bg-purple {
  background-color: #5e40be !important;
}
a.bg-purple:focus,
a.bg-purple:hover,
button.bg-purple:focus,
button.bg-purple:hover {
  background-color: #4b3398 !important;
}
.bg-purple-dark {
  background-color: #342368 !important;
}
a.bg-purple-dark:focus,
a.bg-purple-dark:hover,
button.bg-purple-dark:focus,
button.bg-purple-dark:hover {
  background-color: #211642 !important;
}
.bg-purple-darker {
  background-color: #261a4c !important;
}
a.bg-purple-darker:focus,
a.bg-purple-darker:hover,
button.bg-purple-darker:focus,
button.bg-purple-darker:hover {
  background-color: #130d26 !important;
}
.bg-teal {
  background-color: #42adaf !important;
}
a.bg-teal:focus,
a.bg-teal:hover,
button.bg-teal:focus,
button.bg-teal:hover {
  background-color: #34888a !important;
}
.bg-teal-dark {
  background-color: #325d79 !important;
}
a.bg-teal-dark:focus,
a.bg-teal-dark:hover,
button.bg-teal-dark:focus,
button.bg-teal-dark:hover {
  background-color: #234155 !important;
}
.bg-blue-gradient {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0499c5),
    to(#175382)
  );
  background: linear-gradient(to right, #0499c5 0, #175382 100%);
}
.bg-green-gradient {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#82c299),
    to(#4e636d)
  );
  background: linear-gradient(to right, #82c299 0, #4e636d 100%);
}
.bg-purple-gradient {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#5e40be),
    to(#342368)
  );
  background: linear-gradient(to right, #5e40be 0, #342368 100%);
}
.bg-teal-gradient {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#42adaf),
    to(#325d79)
  );
  background: linear-gradient(to right, #42adaf 0, #325d79 100%);
}
.clh-logo {
  width: 294px;
  height: 75px;
}
.clh-logo path {
  fill: #fff;
}
[data-ux-theme~="s2"] .clh-logo path {
  fill: #252527;
}
.clh-logo-icon {
  width: 150px;
  height: 150px;
  -webkit-animation: 0.7s 0.7s forwards shrinkDown;
  animation: 0.7s 0.7s forwards shrinkDown;
  opacity: 0;
}
.clh-logo-icon-cursor {
  -webkit-animation: 1s 1.4s 4 forwards cursorBlink;
  animation: 1s 1.4s 4 forwards cursorBlink;
}
.clh-logo-text {
  left: 80px;
  overflow: hidden;
  height: 75px;
  -webkit-animation: 0.1s 1s forwards expandIt;
  animation: 0.1s 1s forwards expandIt;
}
.clh-logo-text-content {
  height: 75px;
  margin-left: -215px;
  -webkit-animation: 1s 1.4s forwards slideIt;
  animation: 1s 1.4s forwards slideIt;
}
.clh-episodes .tab-content a.text-gray-400:hover {
  color: #bdbdbd !important;
}
.clh-games {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#261a4c),
    to(#175382)
  );
  background: linear-gradient(to bottom, #261a4c 0, #175382 100%);
}
.clh-newsletter {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#175382),
    to(#0499c5)
  );
  background: linear-gradient(to bottom, #175382 0, #0499c5 100%);
}
@media (min-width: 576px) {
  .clh-nav-shelf {
    width: 450px;
    right: -450px;
  }
}
@media (min-width: 768px) {
  .clh-featured .featured-background {
    min-height: 306px;
  }
  .clh-episodes .card .card-header {
    width: 100%;
    background-color: #fff !important;
  }
}
@media (min-width: 1200px) {
  .clh-episodes .card .card-header {
    min-height: 262px;
  }
}
@media (max-width: 767px) {
  .clh-episodes .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
  }
}
@media (max-width: 767.98px) {
  .clh-episodes .card .card-header {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    min-height: 90px;
  }
}
@media (max-width: 479px) {
  .clh-episodes .card .card-body h4 {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .clh-episodes .card .card-header {
    min-height: 222px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .clh-episodes .card .card-header {
    min-height: 212px;
  }
}
