/* ========================================================================================== */
/*  Project: Studio - Web
/*  Author: Digital Business
/*  Date: Wed Aug 18 2021 17:07:22 GMT+0000 (Coordinated Universal Time)
/*  
/*  Copyright © 2021 Red Hat, Inc.
/*  https://www.redhat.com
/* ========================================================================================== */

.clh-nav-shelf,
.clh-nav-shelf-screen,
.clh-nav-top {
  position: fixed;
  width: 100%;
}
.clh-s1e0 .plyr-theme .plyr__controls .plyr__control:hover,
.clh-s1e0
  .plyr-theme
  .plyr__controls
  .plyr__tab-focus:not([data-plyr="seek"]):not([data-plyr="volume"]),
.clh-s1e0
  .plyr-theme
  .plyr__controls
  [data-plyr="settings"][aria-expanded="true"],
.clh-s1e1 .plyr-theme .plyr__controls .plyr__control:hover,
.clh-s1e1
  .plyr-theme
  .plyr__controls
  .plyr__tab-focus:not([data-plyr="seek"]):not([data-plyr="volume"]),
.clh-s1e1
  .plyr-theme
  .plyr__controls
  [data-plyr="settings"][aria-expanded="true"],
.clh-s1e2 .plyr-theme .plyr__controls .plyr__control:hover,
.clh-s1e2
  .plyr-theme
  .plyr__controls
  .plyr__tab-focus:not([data-plyr="seek"]):not([data-plyr="volume"]),
.clh-s1e2
  .plyr-theme
  .plyr__controls
  [data-plyr="settings"][aria-expanded="true"],
.clh-s1e3 .plyr-theme .plyr__controls .plyr__control:hover,
.clh-s1e3
  .plyr-theme
  .plyr__controls
  .plyr__tab-focus:not([data-plyr="seek"]):not([data-plyr="volume"]),
.clh-s1e3
  .plyr-theme
  .plyr__controls
  [data-plyr="settings"][aria-expanded="true"],
.clh-s1e4 .plyr-theme .plyr__controls .plyr__control:hover,
.clh-s1e4
  .plyr-theme
  .plyr__controls
  .plyr__tab-focus:not([data-plyr="seek"]):not([data-plyr="volume"]),
.clh-s1e4
  .plyr-theme
  .plyr__controls
  [data-plyr="settings"][aria-expanded="true"],
.clh-s1e5 .plyr-theme .plyr__controls .plyr__control:hover,
.clh-s1e5
  .plyr-theme
  .plyr__controls
  .plyr__tab-focus:not([data-plyr="seek"]):not([data-plyr="volume"]),
.clh-s1e5
  .plyr-theme
  .plyr__controls
  [data-plyr="settings"][aria-expanded="true"],
.clh-s1e6 .plyr-theme .plyr__controls .plyr__control:hover,
.clh-s1e6
  .plyr-theme
  .plyr__controls
  .plyr__tab-focus:not([data-plyr="seek"]):not([data-plyr="volume"]),
.clh-s1e6
  .plyr-theme
  .plyr__controls
  [data-plyr="settings"][aria-expanded="true"],
.clh-s1e7 .plyr-theme .plyr__controls .plyr__control:hover,
.clh-s1e7
  .plyr-theme
  .plyr__controls
  .plyr__tab-focus:not([data-plyr="seek"]):not([data-plyr="volume"]),
.clh-s1e7
  .plyr-theme
  .plyr__controls
  [data-plyr="settings"][aria-expanded="true"],
.clh-s1e8 .plyr-theme .plyr__controls .plyr__control:hover,
.clh-s1e8
  .plyr-theme
  .plyr__controls
  .plyr__tab-focus:not([data-plyr="seek"]):not([data-plyr="volume"]),
.clh-s1e8
  .plyr-theme
  .plyr__controls
  [data-plyr="settings"][aria-expanded="true"] {
  background-color: #262626 !important;
}
.clh-nav-shelf,
.clh-nav-toggle-wrapper .btn-toggle,
.clh-s1e0 .plyr-theme .plyr__controls .plyr__controls__item,
.clh-s1e0 .plyr-theme .plyr__controls [data-plyr="seek"],
.clh-s1e0 .plyr-theme .plyr__controls [data-plyr="volume"],
.clh-s1e1 .clh-bonus .card-body a,
.clh-s1e1 .clh-bonus .card-body h3,
.clh-s1e1 .clh-bonus .card-body p,
.clh-s1e1 .plyr-theme .plyr__controls .plyr__controls__item,
.clh-s1e1 .plyr-theme .plyr__controls [data-plyr="seek"],
.clh-s1e1 .plyr-theme .plyr__controls [data-plyr="volume"],
.clh-s1e2 .clh-bonus .card-body a,
.clh-s1e2 .clh-bonus .card-body h3,
.clh-s1e2 .clh-bonus .card-body p,
.clh-s1e2 .plyr-theme .plyr__controls .plyr__controls__item,
.clh-s1e2 .plyr-theme .plyr__controls [data-plyr="seek"],
.clh-s1e2 .plyr-theme .plyr__controls [data-plyr="volume"],
.clh-s1e3 .clh-bonus .card-body a,
.clh-s1e3 .clh-bonus .card-body h3,
.clh-s1e3 .clh-bonus .card-body p,
.clh-s1e3 .plyr-theme .plyr__controls .plyr__controls__item,
.clh-s1e3 .plyr-theme .plyr__controls [data-plyr="seek"],
.clh-s1e3 .plyr-theme .plyr__controls [data-plyr="volume"],
.clh-s1e4 .clh-bonus .card-body a,
.clh-s1e4 .clh-bonus .card-body h3,
.clh-s1e4 .clh-bonus .card-body p,
.clh-s1e4 .plyr-theme .plyr__controls .plyr__controls__item,
.clh-s1e4 .plyr-theme .plyr__controls [data-plyr="seek"],
.clh-s1e4 .plyr-theme .plyr__controls [data-plyr="volume"],
.clh-s1e5 .clh-bonus .card-body a,
.clh-s1e5 .clh-bonus .card-body h3,
.clh-s1e5 .clh-bonus .card-body p,
.clh-s1e5 .plyr-theme .plyr__controls .plyr__controls__item,
.clh-s1e5 .plyr-theme .plyr__controls [data-plyr="seek"],
.clh-s1e5 .plyr-theme .plyr__controls [data-plyr="volume"],
.clh-s1e6 .clh-bonus .card-body a,
.clh-s1e6 .clh-bonus .card-body h3,
.clh-s1e6 .clh-bonus .card-body p,
.clh-s1e6 .plyr-theme .plyr__controls .plyr__controls__item,
.clh-s1e6 .plyr-theme .plyr__controls [data-plyr="seek"],
.clh-s1e6 .plyr-theme .plyr__controls [data-plyr="volume"],
.clh-s1e7 .clh-bonus .card-body a,
.clh-s1e7 .clh-bonus .card-body h3,
.clh-s1e7 .clh-bonus .card-body p,
.clh-s1e7 .plyr-theme .plyr__controls .plyr__controls__item,
.clh-s1e7 .plyr-theme .plyr__controls [data-plyr="seek"],
.clh-s1e7 .plyr-theme .plyr__controls [data-plyr="volume"],
.clh-s1e8 .clh-bonus .card-body a,
.clh-s1e8 .clh-bonus .card-body h3,
.clh-s1e8 .clh-bonus .card-body p,
.clh-s1e8 .plyr-theme .plyr__controls .plyr__controls__item,
.clh-s1e8 .plyr-theme .plyr__controls [data-plyr="seek"],
.clh-s1e8 .plyr-theme .plyr__controls [data-plyr="volume"] {
  color: #fff;
}
@font-face {
  font-family: "Overpass Mono";
  font-weight: 300;
  font-style: normal;
  src: url(http://www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-light.eot);
  src: url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-light.eot?#iefix)
      format("embedded-opentype"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-light.woff2)
      format("woff2"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-light.woff)
      format("woff"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-light.ttf)
      format("truetype");
}
@font-face {
  font-family: "Overpass Mono";
  font-weight: 400;
  font-style: normal;
  src: url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-regular.eot);
  src: url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-regular.eot?#iefix)
      format("embedded-opentype"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-regular.woff2)
      format("woff2"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-regular.woff)
      format("woff"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-regular.ttf)
      format("truetype");
}
@font-face {
  font-family: "Overpass Mono";
  font-weight: 500;
  font-style: normal;
  src: url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-semibold.eot);
  src: url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-semibold.eot?#iefix)
      format("embedded-opentype"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-semibold.woff2)
      format("woff2"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-semibold.woff)
      format("woff"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-semibold.ttf)
      format("truetype");
}
@font-face {
  font-family: "Overpass Mono";
  font-weight: 600;
  font-style: normal;
  src: url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-bold.eot);
  src: url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-bold.eot?#iefix)
      format("embedded-opentype"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-bold.woff2)
      format("woff2"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-bold.woff)
      format("woff"),
    url(//www.redhat.com/files/assets/fonts/overpass/3.0.2/overpass-mono-webfont/overpass-mono-bold.ttf)
      format("truetype");
}
.clh-nav-top {
  background: #000;
  z-index: var(--pfe-theme--zindex--navigation, 103);
}
.clh-nav-toggle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.clh-nav-toggle-wrapper .btn-toggle {
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 5px;
  margin-bottom: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  right: 0;
}
.clh-nav-toggle-wrapper .btn-toggle .menu-bar {
  width: 30px;
  height: 3px;
  background: #fff;
  display: block;
  margin: 8px 6px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border-radius: 3px;
}
.clh-nav-toggle-wrapper .btn-toggle.active .menu-bar {
  margin: 5px 6px;
}
.clh-nav-toggle-wrapper .btn-toggle.active .menu-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(6px, 5px);
  transform: rotate(45deg) translate(6px, 5px);
}
.clh-nav-toggle-wrapper .btn-toggle.active .menu-bar:nth-child(2) {
  opacity: 0;
}
.clh-nav-toggle-wrapper .btn-toggle.active .menu-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(6px, -5px);
  transform: rotate(-45deg) translate(6px, -5px);
}
.clh-nav-toggle-wrapper .btn-toggle:focus {
  outline: dotted 1px;
  outline-offset: 2px;
}
.clh-nav-shelf {
  top: 86px;
  bottom: 0;
  right: -100%;
  z-index: var(--pfe-theme--zindex--modal, 1001);
  background-color: #222;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.clh-nav-shelf.shelf-open {
  right: 0;
}
.clh-nav-shelf a:not(.btn),
.clh-nav-shelf button {
  color: #fff;
  font-family: "Overpass Mono", RedHatText, "Red Hat Text", Overpass, Overpass,
    "Helvetica Neue", Arial, sans-serif;
}
.clh-nav-shelf .nav-container {
  height: 100%;
  overflow-y: scroll;
}
.clh-nav-shelf .nav-group-wrapper {
  background-size: cover;
  background-position: right 100px;
  background-repeat: no-repeat;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.clh-nav-shelf .accordion-panel.collapsing.showing,
.clh-nav-shelf .accordion-panel.show,
.clh-nav-shelf .accordion-toggle,
.clh-nav-shelf .accordion-toggle.collapsed {
  background: 0 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.clh-nav-shelf .accordion-toggle {
  font-weight: 700;
}
.clh-nav-shelf .accordion-toggle.collapsed {
  font-weight: 400;
}
.clh-nav-shelf .accordion-toggle:focus {
  text-decoration: none;
}
.clh-nav-shelf .accordion-panel.collapsing,
.clh-nav-shelf .accordion-toggle:hover {
  border: none;
}
.clh-nav-shelf-screen {
  top: 0;
  height: 100%;
  z-index: var(--pfe-theme--zindex--overlay, 97);
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.4s cubic-bezier(0.5, 0, 0.5, 1);
  transition: opacity 0.4s cubic-bezier(0.5, 0, 0.5, 1);
}
.clh-nav-shelf-screen.shelf-open {
  opacity: 1;
  pointer-events: initial;
}
.clh-nav-shelf .language-switcher {
  width: 435px;
}
.clh-nav-shelf .language-active {
  background-color: #4d4d4d;
}
.clh-nav-shelf .language-inactive {
  background-color: #313131;
}
.clh-s1e0,
.clh-s1e0 .clh-bonus .card,
.clh-s1e0 .clh-newsletter,
.clh-s1e0 .plyr-theme .plyr__controls,
.clh-s1e1,
.clh-s1e1 .clh-bonus .card,
.clh-s1e1 .clh-newsletter,
.clh-s1e1 .plyr-theme .plyr__controls,
.clh-s1e2,
.clh-s1e2 .clh-bonus .card,
.clh-s1e2 .clh-newsletter,
.clh-s1e2 .plyr-theme .plyr__controls,
.clh-s1e3,
.clh-s1e3 .clh-bonus .card,
.clh-s1e3 .clh-newsletter,
.clh-s1e3 .plyr-theme .plyr__controls,
.clh-s1e4,
.clh-s1e4 .clh-bonus .card,
.clh-s1e4 .clh-newsletter,
.clh-s1e4 .plyr-theme .plyr__controls,
.clh-s1e5,
.clh-s1e5 .clh-bonus .card,
.clh-s1e5 .clh-newsletter,
.clh-s1e5 .plyr-theme .plyr__controls,
.clh-s1e6,
.clh-s1e6 .clh-bonus .card,
.clh-s1e6 .clh-newsletter,
.clh-s1e6 .plyr-theme .plyr__controls,
.clh-s1e7,
.clh-s1e7 .clh-bonus .card,
.clh-s1e7 .clh-newsletter,
.clh-s1e7 .plyr-theme .plyr__controls,
.clh-s1e8,
.clh-s1e8 .clh-bonus .card,
.clh-s1e8 .clh-newsletter,
.clh-s1e8 .plyr-theme .plyr__controls {
  background-color: #000;
}
.text-red {
  color: #e00;
}
.text-black {
  color: #000;
}
.clh-guests .card .card-header {
  min-height: 205px;
}
.clh-guests .card a {
  outline-color: #fff;
}
@media (min-width: 576px) {
  .clh-nav-shelf {
    width: 450px;
    right: -450px;
  }
}
@media (min-width: 768px) {
  .clh-guests .card .card-header {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .clh-guests .card {
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
  }
  .clh-guests .card:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 767.98px) {
  .clh-guests .card .card-header {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 135px;
    flex: 0 0 135px;
  }
}
@media (max-width: 576px) {
  .clh-guests .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
  }
}
